%h2 用户注册

= simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), :wrapper => :inline, :html => {:class => "new_register"} do |f|
  = f.input :name, :input_html => {:class => "input_text"}
  = f.input :email, :placeholder => "test@example.com", :input_html => {:class => "input_text"}
  = f.input :password, :input_html => {:class => "input_text"}
  = f.input :password_confirmation, :input_html => {:class => "input_text"}
  .actions
    = f.submit :class => "submit"

- content_for :sidebar do
  %h3 已经拥有帐号
  = link_to "登录", user_session_path
