.topic.clearfix{:id => "topic_#{topic.num}"}
  .topic-avatar= image_tag topic.user.avatar_url(:s32)
  .topic-content
    .topic-row.topic-text
      = link_to topic.title, topic_path(topic)
    .topic-row
      .pull-left
        = link_to topic.group.title, group_path(topic.group)
      .pull-right
        %small= timeago(topic.created_at)
        = link_to topic.user.name, user_path(topic.user)
        = link_to topic.hits, topic_path(topic), :class => "label"
