.topbar-wrapper
  .topbar{"data-scrollspy" => "scrollspy"}
    .topbar-inner
      .container
        = link_to Setting.app_name, root_path, :class => "brand"
        %ul.nav
          %li{:class => "#{ 'active' if controller.class == Admin::GroupsController}"}= link_to "小组", admin_groups_path
        %ul.nav.secondary-nav
          - if user_signed_in?
            %li.dropdown
              %a.dropdown-toggle= current_user.name 
              %ul.menu-dropdown
                %li= link_to "帐号设置", edit_user_registration_path
                - if current_user.role? :admin
                  %li= link_to "后台", admin_root_path
                %li.divider
                %li= link_to "退出", destroy_user_session_path, :method => :delete
          - else
            %li= link_to "注册", new_user_registration_path
            %li= link_to "登录", user_session_path