= simple_form_for  [:admin, @forum], :wrapper => :inline do |f|
  = f.input :name
  = f.input :sort
  = f.input :description, :as => :text, :input_html => {:rows => 3, :class => "span7"}
  .actions
    = f.submit :class => "primary btn"
    = link_to "返回", admin_forums_path, :class => "btn"
